<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RentALL Cars.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
				<key>dateExpires</key>
				<string>10/05/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AARatingBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>4.8.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Apollo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.10.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AssetsPickerViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cheers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>23.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Device.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>6.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GrowingTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ISPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JJFloatingActionButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MDFTextAccessibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MKToolTip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>124.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>McPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RangeSeekSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.12.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SKPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Shimmer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ShimmerEffect_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ShimmerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Siren.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkeletonView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.29.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>19.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>135DB2A32817C878BD309B5EF9F892EDB9D0AB2B</string>
						<key>dateExpires</key>
						<string>10/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XAQ5F75F7R</string>
						<key>name</key>
						<string>RadicalStart InfoLab Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XAQ5F75F7R.com.rs.rentallcars</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:cars.rentallscript.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>XAQ5F75F7R</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c3e20ec9-1e4a-469e-af4d-cf9c0c066535</string>
				<key>dateExpires</key>
				<string>06/06/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.rs.rentallcars</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XAQ5F75F7R</string>
				<key>name</key>
				<string>RadicalStart InfoLab Private Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.1</string>
		</dict>
	</array>
</dict>
</plist>
